services:

  product-service:
    build: ./product-service
    environment:
      - SERVER_PORT=8081
      - SPRING_APPLICATION_NAME=product-service
    ports:
      - "8081:8081"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

  order-service:
    build: ./order-service
    environment:
      - SERVER_PORT=8082
      - SPRING_APPLICATION_NAME=order-service
      - PRODUCT_SERVICE_URL=http://product-service:8081
    ports:
      - "8082:8082"
    networks:
      - app-network
    depends_on:
      product-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  app-network:
    driver: bridge