name: Assignment 1 workflow

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Run unit tests
        run: mvn -B test

      - name: Upload test reports as artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            **/target/surefire-reports/**
            **/target/failsafe-reports/**
          if-no-files-found: warn
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker images
        run: docker compose build

      - name: Starting services with Docker Compose
        run: docker compose up -d

      - name: Wait for Product Service Health
        run: |
          for i in {1..30}; do
            if curl -fsS http://localhost:8081/actuator/health > /dev/null; then
              exit 0
            fi
            sleep 2
          done
          docker compose logs product-service
          exit 1

      - name: Wait for Order Service Health
        run: |
          for i in {1..30}; do
            if curl -fsS http://localhost:8082/actuator/health > /dev/null; then
              exit 0
            fi
            sleep 2
          done
          docker compose logs order-service
          exit 1

      - name: Integration test
        run: |
          curl -f http://localhost:8081/actuator/health
          curl -f http://localhost:8082/actuator/health

      - name: Shutdown Docker Compose
        if: always()
        run: docker compose down --volumes